################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TreeApp/.vs
/TreeApp/TreeApp/bin/Debug/net8.0
/TreeApp/TreeApp/obj
/.vs
/avl_tree_project/.vs/avl_tree
/avl_tree_project/AVLTree/.vs/AVLTree/FileContentIndex
/avl_tree_project/AVLTree/bin/Debug/net8.0
/avl_tree_project/AVLTree/obj
