################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TreeApp/.vs
/TreeApp/TreeApp/bin/Debug/net8.0
/TreeApp/TreeApp/obj
